.phonePreview {
  width: 393px; /* Adjust the width as needed */
  border: 6px solid #ebebeb;
  border-radius: 3rem;
  box-shadow: 0 121px 49px #00000005, 0 68px 41px #00000014, 0 30px 30px #00000024, 0 8px 17px #00000029;
  display: none; /* Hide by default */
  overflow-x: hidden;
  overflow-y: hidden;
}

.phoneFrame {
  width: 100%;
  height: 100%;
  border: none;
}

@media (min-width: 1024px) {
  .phonePreview {
    display: block; /* Show on large screens */
    aspect-ratio: 393 / 851; /* Maintain aspect ratio */

  }
}
